<?xml version="1.0"?>
<!--
/**
 * Copyright © The Garden Health & Beauty Store, Inc All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--related to grid-->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="slideshow_grid_data_source" xsi:type="string">
                    Garden\SlideShow\Model\ResourceModel\SlideShow\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Garden\SlideShow\Model\ResourceModel\SlideShow\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">garden_slideshow</argument>
            <argument name="eventPrefix" xsi:type="string">garden_slideshow_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">slideshow_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Garden\SlideShow\Model\ResourceModel\SlideShow</argument>
        </arguments>
    </type>
    <virtualType name="SlideShowGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <!--grid end -->
    <!--image upload-->
    <virtualType name="Garden\SlideShow\ReferenceImageUpload" type="Garden\Service\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">garden/tmp/slideshow</argument>
            <argument name="basePath" xsi:type="string">slideshow</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Garden\SlideShow\Controller\Adminhtml\SlideShow\UploadImage">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Garden\SlideShow\ReferenceImageUpload</argument>
        </arguments>
    </type>
    <!--end image upload-->
</config>
